In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
d = df['Age']

In [6]:
type(d)

pandas.core.series.Series

In [7]:
d = df[['Age']]

In [8]:
type(d)

pandas.core.frame.DataFrame

In [9]:
df['Age'][5:100]

5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
      ...
95     NaN
96    71.0
97    23.0
98    34.0
99    34.0
Name: Age, Length: 95, dtype: float64

In [10]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
df.dtypes == 'object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [12]:
df2 = df.dtypes[df.dtypes == 'object']

In [13]:
df2

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [14]:
df[df.dtypes[df.dtypes == 'object'].index]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [15]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
df[['Name','Fare']]

                                                  Name     Fare
0                              Braund, Mr. Owen Harris   7.2500
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
2                               Heikkinen, Miss. Laina   7.9250
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
4                             Allen, Mr. William Henry   8.0500
..                                                 ...      ...
886                              Montvila, Rev. Juozas  13.0000
887                       Graham, Miss. Margaret Edith  30.0000
888           Johnston, Miss. Catherine Helen "Carrie"  23.4500
889                              Behr, Mr. Karl Howell  30.0000
890                                Dooley, Mr. Patrick   7.7500

[891 rows x 2 columns]

In [17]:
type(df[['Name']])

pandas.core.frame.DataFrame

In [18]:
import numpy as np

In [19]:
np.where(df['Age'].isnull() == True)

(array([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,  45,  46,  47,
         48,  55,  64,  65,  76,  77,  82,  87,  95, 101, 107, 109, 121,
        126, 128, 140, 154, 158, 159, 166, 168, 176, 180, 181, 185, 186,
        196, 198, 201, 214, 223, 229, 235, 240, 241, 250, 256, 260, 264,
        270, 274, 277, 284, 295, 298, 300, 301, 303, 304, 306, 324, 330,
        334, 335, 347, 351, 354, 358, 359, 364, 367, 368, 375, 384, 388,
        409, 410, 411, 413, 415, 420, 425, 428, 431, 444, 451, 454, 457,
        459, 464, 466, 468, 470, 475, 481, 485, 490, 495, 497, 502, 507,
        511, 517, 522, 524, 527, 531, 533, 538, 547, 552, 557, 560, 563,
        564, 568, 573, 578, 584, 589, 593, 596, 598, 601, 602, 611, 612,
        613, 629, 633, 639, 643, 648, 650, 653, 656, 667, 669, 674, 680,
        692, 697, 709, 711, 718, 727, 732, 738, 739, 740, 760, 766, 768,
        773, 776, 778, 783, 790, 792, 793, 815, 825, 826, 828, 832, 837,
        839, 846, 849, 859, 863, 868, 878, 888]),)

In [20]:
df[df['Age'].isnull() == True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [21]:
df.iloc[5]

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

In [22]:
np.where(df['Fare']  == max(df['Fare']))

(array([258, 679, 737]),)

In [26]:
df1 = pd.read_csv("cleaned_imdb_2024.csv")

In [27]:
df1

,Home_Page,Movie_Name,Genres,Overview,Cast,Original_Language,Storyline,Production_Company,Release_Date,Tagline,Vote_Average,Vote_Count,Budget_USD,Revenue_$,Run_Time_Minutes,Release_Country
0,https://www.imdb.com/title/tt5040012/,Nosferatu,"['Fantasy', 'Horror', 'Mystery']",A gothic tale of obsession between a haunted y...,"['Lily-Rose Depp', 'Nicholas Hoult', 'Bill Ska...","['English', 'German', 'Romanian', 'Russian']",A gothic tale of obsession between a haunted y...,"['Focus Features', 'Maiden Voyage Pictures', '...",2024-12-25,Succumb to the darkness.,7.3,151K,$50.0M,$176.0M,132,United States
1,https://www.imdb.com/title/tt20221436/,Emilia Pérez,"['Comedy', 'Crime', 'Drama', 'Musical', 'Thril...",Emilia Pérez follows three remarkable women in...,"['Zoe Saldaña', 'Karla Sofía Gascón', 'Selena ...","['Spanish', 'English']","In modern-day Mexico, overqualified and exploi...","['Why Not Productions', 'Page 114', 'Pathé']",2024-11-13,Not_Found,5.5,71K,$27.3M,$15.0M,132,United States
2,https://www.imdb.com/title/tt8999762/,The Brutalist,['Drama'],When a visionary architect and his wife flee p...,"['Adrien Brody', 'Felicity Jones', 'Guy Pearce...","['English', 'Hungarian', 'Italian', 'Hebrew', ...",When visionary architect László Toth and his w...,"['Brookstreet Pictures', 'Kaplan Morrison', 'I...",2025-01-24,Welcome to America.,7.9,28K,$10.0M,$31.1M,214,Canada
3,https://www.imdb.com/title/tt27657135/,Saturday Night,"['Biography', 'Comedy', 'Drama', 'History']","At 11:30pm on October 11th, 1975, a ferocious ...","['Gabriel LaBelle', 'Rachel Sennott', 'Cory Mi...",['English'],"At 11:30pm on October 11, 1975, a ferocious tr...","['Columbia Pictures', 'TSG Entertainment']",2024-10-11,"October 11, 1975, The First Saturday Night Liv...",7.0,26K,$25.0M,$10.0M,109,United States
4,https://www.imdb.com/title/tt17526714/,The Substance,"['Drama', 'Horror', 'Sci-Fi']",A fading celebrity takes a black-market drug: ...,"['Demi Moore', 'Margaret Qualley', 'Dennis Qua...",['English'],Have you ever dreamed of a better version of y...,"['Working Title Films', 'A Good Story', 'Black...",2024-09-20,"If you follow the instructions, what could go ...",7.3,249K,$17.5M,$77.0M,141,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,https://www.imdb.com/title/tt28288478/,The Cage,"['Biography', 'Drama', 'Sport']","Dreaming of going pro, a young fighter struggl...","['Franck Gastambide', 'Melvin Boomer', 'Bosh',...",['French'],"Dreaming of going pro, a young fighter struggl...",['Ondamax Films'],2024-11-08,Fight for your dreams.,6.5,2.3K,$0,$0,45,United States
497,https://www.imdb.com/title/tt20519854/,The Man Who Could Not Remain Silent,"['Short', 'Drama']","1993, Bosnia and Herzegovina. A passenger trai...","['Dragan Micanovic', 'Goran Bogdan', 'Alexis M...",['Croatian'],"1993, Bosnia and Herzegovina. A passenger trai...","['Antitalent Produkcija', 'Contrast Films', 'L...",2025-01-16,Not_Found,7.4,1.3K,$0,$0,13,Croatia
498,https://www.imdb.com/title/tt28349451/,The Shadow Strays,"['Action', 'Crime', 'Thriller']","Codename 13, a 17-year-old assassin, is suspen...","['Aurora Ribero', 'Hana Malasan', 'Taskya Namy...","['Indonesian', 'English', 'Japanese', 'Chinese']","Codename 13, a 17-year-old trained assassin is...","['Frontier Pictures', 'XYZ Films']",2024-10-17,Not_Found,6.5,8.6K,$0,$0,144,United States
499,https://www.imdb.com/title/tt31609000/,Anthracite,"['Crime', 'Drama', 'Mystery', 'Thriller']",An old case is wrenched open when a reporter g...,"['Hatik', 'Noémie Schmidt', 'Camille Lou', 'Ni...",['French'],"In 1994, the collective suicide of a sect base...",['Mediawan'],2024-04-10,Not_Found,6.1,4.8K,$0,$0,50,United States
500,https://www.imdb.com/title/tt14203572/,Monsieur Spade,"['Crime', 'Drama', 'Thriller']",The famous detective Sam Spade is now 60 and l...,"['Clive Owen', 'Cara Bossom', 'Denis Ménochet'...","['English', 'French']",Monsieur Spade centers around the infamous pro...,"['Black Bear', 'Haut Et Court Tv']",2024-01-14,Not_Found,6.8,7.4K,$0,$0,Unknown,United States

In [28]:
df1.describe()

       Vote_Average
count    501.000000
mean       6.559082
std        1.134435
min        0.000000
25%        5.800000
50%        6.700000
75%        7.400000
max        9.300000

In [29]:
pd.Categorical(df1)

['Home_Page', 'Movie_Name', 'Genres', 'Overview', 'Cast', ..., 'Vote_Count', 'Budget_USD', 'Revenue_$', 'Run_Time_Minutes', 'Release_Country']
Length: 16
Categories (16, object): ['Budget_USD', 'Cast', 'Genres', 'Home_Page', ..., 'Storyline', 'Tagline',
                          'Vote_Average', 'Vote_Count']

In [30]:
df1.head()

,Home_Page,Movie_Name,Genres,Overview,Cast,Original_Language,Storyline,Production_Company,Release_Date,Tagline,Vote_Average,Vote_Count,Budget_USD,Revenue_$,Run_Time_Minutes,Release_Country
0,https://www.imdb.com/title/tt5040012/,Nosferatu,"['Fantasy', 'Horror', 'Mystery']",A gothic tale of obsession between a haunted y...,"['Lily-Rose Depp', 'Nicholas Hoult', 'Bill Ska...","['English', 'German', 'Romanian', 'Russian']",A gothic tale of obsession between a haunted y...,"['Focus Features', 'Maiden Voyage Pictures', '...",2024-12-25,Succumb to the darkness.,7.3,151K,$50.0M,$176.0M,132,United States
1,https://www.imdb.com/title/tt20221436/,Emilia Pérez,"['Comedy', 'Crime', 'Drama', 'Musical', 'Thril...",Emilia Pérez follows three remarkable women in...,"['Zoe Saldaña', 'Karla Sofía Gascón', 'Selena ...","['Spanish', 'English']","In modern-day Mexico, overqualified and exploi...","['Why Not Productions', 'Page 114', 'Pathé']",2024-11-13,Not_Found,5.5,71K,$27.3M,$15.0M,132,United States
2,https://www.imdb.com/title/tt8999762/,The Brutalist,['Drama'],When a visionary architect and his wife flee p...,"['Adrien Brody', 'Felicity Jones', 'Guy Pearce...","['English', 'Hungarian', 'Italian', 'Hebrew', ...",When visionary architect László Toth and his w...,"['Brookstreet Pictures', 'Kaplan Morrison', 'I...",2025-01-24,Welcome to America.,7.9,28K,$10.0M,$31.1M,214,Canada
3,https://www.imdb.com/title/tt27657135/,Saturday Night,"['Biography', 'Comedy', 'Drama', 'History']","At 11:30pm on October 11th, 1975, a ferocious ...","['Gabriel LaBelle', 'Rachel Sennott', 'Cory Mi...",['English'],"At 11:30pm on October 11, 1975, a ferocious tr...","['Columbia Pictures', 'TSG Entertainment']",2024-10-11,"October 11, 1975, The First Saturday Night Liv...",7.0,26K,$25.0M,$10.0M,109,United States
4,https://www.imdb.com/title/tt17526714/,The Substance,"['Drama', 'Horror', 'Sci-Fi']",A fading celebrity takes a black-market drug: ...,"['Demi Moore', 'Margaret Qualley', 'Dennis Qua...",['English'],Have you ever dreamed of a better version of y...,"['Working Title Films', 'A Good Story', 'Black...",2024-09-20,"If you follow the instructions, what could go ...",7.3,249K,$17.5M,$77.0M,141,United States

In [31]:
df1.tail()

,Home_Page,Movie_Name,Genres,Overview,Cast,Original_Language,Storyline,Production_Company,Release_Date,Tagline,Vote_Average,Vote_Count,Budget_USD,Revenue_$,Run_Time_Minutes,Release_Country
496,https://www.imdb.com/title/tt28288478/,The Cage,"['Biography', 'Drama', 'Sport']","Dreaming of going pro, a young fighter struggl...","['Franck Gastambide', 'Melvin Boomer', 'Bosh',...",['French'],"Dreaming of going pro, a young fighter struggl...",['Ondamax Films'],2024-11-08,Fight for your dreams.,6.5,2.3K,$0,$0,45,United States
497,https://www.imdb.com/title/tt20519854/,The Man Who Could Not Remain Silent,"['Short', 'Drama']","1993, Bosnia and Herzegovina. A passenger trai...","['Dragan Micanovic', 'Goran Bogdan', 'Alexis M...",['Croatian'],"1993, Bosnia and Herzegovina. A passenger trai...","['Antitalent Produkcija', 'Contrast Films', 'L...",2025-01-16,Not_Found,7.4,1.3K,$0,$0,13,Croatia
498,https://www.imdb.com/title/tt28349451/,The Shadow Strays,"['Action', 'Crime', 'Thriller']","Codename 13, a 17-year-old assassin, is suspen...","['Aurora Ribero', 'Hana Malasan', 'Taskya Namy...","['Indonesian', 'English', 'Japanese', 'Chinese']","Codename 13, a 17-year-old trained assassin is...","['Frontier Pictures', 'XYZ Films']",2024-10-17,Not_Found,6.5,8.6K,$0,$0,144,United States
499,https://www.imdb.com/title/tt31609000/,Anthracite,"['Crime', 'Drama', 'Mystery', 'Thriller']",An old case is wrenched open when a reporter g...,"['Hatik', 'Noémie Schmidt', 'Camille Lou', 'Ni...",['French'],"In 1994, the collective suicide of a sect base...",['Mediawan'],2024-04-10,Not_Found,6.1,4.8K,$0,$0,50,United States
500,https://www.imdb.com/title/tt14203572/,Monsieur Spade,"['Crime', 'Drama', 'Thriller']",The famous detective Sam Spade is now 60 and l...,"['Clive Owen', 'Cara Bossom', 'Denis Ménochet'...","['English', 'French']",Monsieur Spade centers around the infamous pro...,"['Black Bear', 'Haut Et Court Tv']",2024-01-14,Not_Found,6.8,7.4K,$0,$0,Unknown,United States

In [32]:
df1.columns

Index(['Home_Page', 'Movie_Name', 'Genres', 'Overview', 'Cast',
       'Original_Language', 'Storyline', 'Production_Company', 'Release_Date',
       'Tagline', 'Vote_Average', 'Vote_Count', 'Budget_USD', 'Revenue_$',
       'Run_Time_Minutes', 'Release_Country'],
      dtype='object')

In [33]:
pd.Categorical(df1["Overview"])

['A gothic tale of obsession between a haunted ..., 'Emilia Pérez follows three remarkable women i..., 'When a visionary architect and his wife flee ..., 'At 11:30pm on October 11th, 1975, a ferocious..., 'A fading celebrity takes a black-market drug:..., ..., 'Dreaming of going pro, a young fighter strugg..., '1993, Bosnia and Herzegovina. A passenger tra..., 'Codename 13, a 17-year-old assassin, is suspe..., 'An old case is wrenched open when a reporter ..., 'The famous detective Sam Spade is now 60 and ...]
Length: 501
Categories (501, object): ['12-year-old Capi suffers a traumatic accident..., '1944, Vermiglio, a remote mountain village. T...,
                           '1993, Bosnia and Herzegovina. A passenger tra..., '3 trailblazers: a young nurse, a visionary sc...,
                           ..., 'While serving as a juror in a high-profile mu...,
                           'Widowed mum Maya is disturbed by an image of ..., 'Will, an unqualified heir, attempts to turn h...,
                           'Young apprentice Gunnar Sønsteby from Rjukan ...]

In [34]:
type(df1.dtypes)

pandas.core.series.Series

In [35]:
dy = df1.dtypes

In [36]:
dy

Home_Page              object
Movie_Name             object
Genres                 object
Overview               object
Cast                   object
Original_Language      object
Storyline              object
Production_Company     object
Release_Date           object
Tagline                object
Vote_Average          float64
Vote_Count             object
Budget_USD             object
Revenue_$              object
Run_Time_Minutes       object
Release_Country        object
dtype: object

In [37]:
dy[0:8]

Home_Page             object
Movie_Name            object
Genres                object
Overview              object
Cast                  object
Original_Language     object
Storyline             object
Production_Company    object
dtype: object

In [38]:
df[df.dtypes[df.dtypes == 'object'].index]

,Home_Page,Movie_Name,Genres,Overview,Cast,Original_Language,Storyline,Production_Company,Release_Date,Tagline,Vote_Count,Budget_USD,Revenue_$,Run_Time_Minutes,Release_Country
0,https://www.imdb.com/title/tt5040012/,Nosferatu,"['Fantasy', 'Horror', 'Mystery']",A gothic tale of obsession between a haunted y...,"['Lily-Rose Depp', 'Nicholas Hoult', 'Bill Ska...","['English', 'German', 'Romanian', 'Russian']",A gothic tale of obsession between a haunted y...,"['Focus Features', 'Maiden Voyage Pictures', '...",2024-12-25,Succumb to the darkness.,151K,$50.0M,$176.0M,132,United States
1,https://www.imdb.com/title/tt20221436/,Emilia Pérez,"['Comedy', 'Crime', 'Drama', 'Musical', 'Thril...",Emilia Pérez follows three remarkable women in...,"['Zoe Saldaña', 'Karla Sofía Gascón', 'Selena ...","['Spanish', 'English']","In modern-day Mexico, overqualified and exploi...","['Why Not Productions', 'Page 114', 'Pathé']",2024-11-13,Not_Found,71K,$27.3M,$15.0M,132,United States
2,https://www.imdb.com/title/tt8999762/,The Brutalist,['Drama'],When a visionary architect and his wife flee p...,"['Adrien Brody', 'Felicity Jones', 'Guy Pearce...","['English', 'Hungarian', 'Italian', 'Hebrew', ...",When visionary architect László Toth and his w...,"['Brookstreet Pictures', 'Kaplan Morrison', 'I...",2025-01-24,Welcome to America.,28K,$10.0M,$31.1M,214,Canada
3,https://www.imdb.com/title/tt27657135/,Saturday Night,"['Biography', 'Comedy', 'Drama', 'History']","At 11:30pm on October 11th, 1975, a ferocious ...","['Gabriel LaBelle', 'Rachel Sennott', 'Cory Mi...",['English'],"At 11:30pm on October 11, 1975, a ferocious tr...","['Columbia Pictures', 'TSG Entertainment']",2024-10-11,"October 11, 1975, The First Saturday Night Liv...",26K,$25.0M,$10.0M,109,United States
4,https://www.imdb.com/title/tt17526714/,The Substance,"['Drama', 'Horror', 'Sci-Fi']",A fading celebrity takes a black-market drug: ...,"['Demi Moore', 'Margaret Qualley', 'Dennis Qua...",['English'],Have you ever dreamed of a better version of y...,"['Working Title Films', 'A Good Story', 'Black...",2024-09-20,"If you follow the instructions, what could go ...",249K,$17.5M,$77.0M,141,United States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,https://www.imdb.com/title/tt28288478/,The Cage,"['Biography', 'Drama', 'Sport']","Dreaming of going pro, a young fighter struggl...","['Franck Gastambide', 'Melvin Boomer', 'Bosh',...",['French'],"Dreaming of going pro, a young fighter struggl...",['Ondamax Films'],2024-11-08,Fight for your dreams.,2.3K,$0,$0,45,United States
497,https://www.imdb.com/title/tt20519854/,The Man Who Could Not Remain Silent,"['Short', 'Drama']","1993, Bosnia and Herzegovina. A passenger trai...","['Dragan Micanovic', 'Goran Bogdan', 'Alexis M...",['Croatian'],"1993, Bosnia and Herzegovina. A passenger trai...","['Antitalent Produkcija', 'Contrast Films', 'L...",2025-01-16,Not_Found,1.3K,$0,$0,13,Croatia
498,https://www.imdb.com/title/tt28349451/,The Shadow Strays,"['Action', 'Crime', 'Thriller']","Codename 13, a 17-year-old assassin, is suspen...","['Aurora Ribero', 'Hana Malasan', 'Taskya Namy...","['Indonesian', 'English', 'Japanese', 'Chinese']","Codename 13, a 17-year-old trained assassin is...","['Frontier Pictures', 'XYZ Films']",2024-10-17,Not_Found,8.6K,$0,$0,144,United States
499,https://www.imdb.com/title/tt31609000/,Anthracite,"['Crime', 'Drama', 'Mystery', 'Thriller']",An old case is wrenched open when a reporter g...,"['Hatik', 'Noémie Schmidt', 'Camille Lou', 'Ni...",['French'],"In 1994, the collective suicide of a sect base...",['Mediawan'],2024-04-10,Not_Found,4.8K,$0,$0,50,United States
500,https://www.imdb.com/title/tt14203572/,Monsieur Spade,"['Crime', 'Drama', 'Thriller']",The famous detective Sam Spade is now 60 and l...,"['Clive Owen', 'Cara Bossom', 'Denis Ménochet'...","['English', 'French']",Monsieur Spade centers around the infamous pro...,"['Black Bear', 'Haut Et Court Tv']",2024-01-14,Not_Found,7.4K,$0,$0,Unknown,United States

In [39]:
import numpy as np

In [41]:
np.where(df['Home_Page'].isnull() == True)

(array([], dtype=int64),)

In [42]:
np.where(df['Vote_Average'].isnull() == True)

(array([], dtype=int64),)